<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <meta charset="utf-8">
  <title></title>
  <meta name="Aric" content="">
  <meta name="Catalog Project" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <header>
    <p class='mainHeader'>Catalog App</p>
    {% if loggedIn==True %}
    <span> Hello {{userUsername}}!</span>
    <a href="/gdisconnect">
      <button>Logout</button>
    </a>
    {% endif %}

  </header>

  <div class='mainApp'>

    <h1>Categories</h1>

    {% for i in category %}
    <div class='nameAndDes'>
      <span class='title'>
        <a href='/catalog/{{i.name}}/items' class='title-link'>{{i.name}}</a>
      </span>
    </div>

    {% endfor %}

    <div class='vl'></div>

    <div class='latestItems'>
      <h1>{{categoryDisplay.name}} items ({{item|length}})</h1>
    </div>

    <div class='cat-item'>
      {% for i in item %}
      {% if i.cat_id == categoryDisplay.id %}
      <a href='/catalog/{{categoryDisplay.name}}/{{i.title}}' class='item-link'>{{i.title}}</a>
      </br></br>
      {% endif %}

      {% endfor %}
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>
