<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="Aric" content="">
  <meta name="Catalog Project" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="static/styles.css" rel="stylesheet">
</head>

<body>

  <h1>Categories</h1>

  <h3>{{ category.name }}</h3>

  {% for i in items %}
  <div class='nameAndDes'>
    <span class='title'>
      <p>{{i.title}}</p>
    </span>

    <span class='description'>

      <p>{{i.description}} </p>
    </span>
  </div>

  {% endfor %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>
