header {
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  align-items: center;
}

html, body {
  margin: 0;
  font-family: Helvetica;
  background: #e0e0e0;
}

.mainHeader {
  margin: 0;
  margin-left: 20%;
  font-size: 30px;
  padding-top: 30px;
}

.login {
  float: right;
  margin-right: 50px;
}

.mainApp {
  background: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 50px;
}

.title-link {
  color: orange;
  text-decoration: none;
}

.title-link:hover {
  color: #ffca99;
}
